#slidecontainer {
    width: 90%; /* Width of the outside container */
    left: 5%;
    position: relative;
}

/* The slider itself */
.slider {
	
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 80px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1.0; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 80px; /* Set a specific slider handle width */
    height: 80px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
	background: #00ff00;
}

.slider::-moz-range-thumb {
    width: 80px; /* Set a specific slider handle width */
    height: 80px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.red::-webkit-slider-thumb {
	background: #ff0000;
}

.green::-webkit-slider-thumb {
	background: #00ff00;
}

.blue::-webkit-slider-thumb {
	background: #0000ff;
}

.white::-webkit-slider-thumb {
	background: #505050;
}

.preview-parent {
    position: relative;
}

.preview-parent .center-wrapper {
    position: absolute;
    left: 50%;
}

.preview-parent .center-wrapper .preview {
	border-style: solid;
    position: relative;
    left: -50%;
    width: 80px; /* Set a specific slider handle width */
    height: 80px; /* Slider handle height */
    background: #4CAF50; /* Green background */
	border-width: 3px;
	border-color: #000000;
}

